.background{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #d93ac9, #d057ff);

}

.border{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.disp input{
    border: 1px none black;
    height: 50px;
    width: 300px;
    overflow: hidden;
    margin:20px 0px 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #000f0b;
    color: white;
    
}
.calculator{
    background: #000f0b;
    padding: 30px;
    border-radius: 8px;
    
}


div .calcu input{
    outline:0;
    border:0;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -5px -5px 5px #c953bb;
    background: transparent;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    margin: 10px;
}

div .clear input{
    outline:0;
    border:0;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -5px -5px 5px #c953bb;
    background: transparent;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    margin: 6px;
}

.divide input{
    outline: 0;
    border:0;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -5px -5px 5px #c953bb;
    background: transparent;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    
}
